books{color:white;background-color:PaleVioletRed	;width:100%;}

heading{
color:LightSteelBlue;
font-size:40px;
background-color:powderblue;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;
font-weight:blod;
}
